body {
	padding: 20px 0 0 0;
}

/* jCarousel styling */

.jcarousel {
    position: relative;
    overflow: hidden;
}


.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}


.jcarousel li {
    float: left;
    margin-right: 15px;
}

.company-row .company-carousel-container {
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

.company-row .company-carousel-container img {
	height: 220px;
	text-align: center;
}

.company-row.present-thinking .company-carousel-container img {
	width: 100%;
	height: inherit;
	max-height: 220px;
	text-align: center;
}

.company-row .company-carousel-container .btn {
	margin-top: 10px;
}

/* Header styling */

#header {
	text-align: center;
	margin-bottom: 40px;
}

#header h1,
#header h2 {
	margin: 0;
}

#header h2 {
	font-size: 22px;
	color: grey;
}

#header ul.nav {
	margin: 10px 0;
}

#navigation ul.nav li {
	display: inline-block;
}

#navigation ul.nav li.active a {
	border-bottom: 2px solid black;
}

#navigation ul.nav li a:hover {
	background-color: transparent;
	border-bottom: 2px solid grey;
}

/* Portfolio styling */

#content div.company-header {
	margin-bottom: 40px;
}

#content #ptName {
	margin: 8px 0;
}

#content #decibelName {
	margin: 22px 0;
}

#content div.description .duration {
	text-align: right;
}

.company-row {
	position: relative;
	width: 100%;
}

.company-row .row-background {
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
}

.company-row .row-background > div,
.company-row .row-content .row > div {
	height: 400px; 
}

.company-row.bloom .row-background div:first-child {
	border-top: 4px solid #ffe600; 
	border-bottom: 4px solid #ffe600;
	background-color: #f0f2f6;
}

.company-row.present-thinking .row-background div:first-child {
	border-top: 4px solid #bcb6a4;
	border-bottom: 4px solid #bcb6a4; 
	background-color: #f0f2f6;
}

.company-row.decibel .row-background div:first-child {
	border-top: 4px solid #9e1f63;
	border-bottom: 4px solid #9e1f63; 
}

.company-row.decibel .row-background div:last-child {
	background-color: #f0f2f6;
}


.company-row .company-content-container {
	display: table;
}

.company-row .company-content-container .column-content {
	display: table-cell;
	vertical-align: middle;
}

.company-row .company-content-container .column-content h4 {
	margin: 0;
}

.company-row .company-content-container .column-content .company-logo {
	margin-bottom: 20px;
	text-align: center;
}

.company-row .company-content-container .column-content .company-logo img {
	width: 100%;
	max-width: 400px;
}

.company-row.present-thinking .company-content-container .column-content .company-logo img {
	border-radius: 10px;
}

.company-row.decibel .company-content-container .column-content .company-logo img {
	width: 200px;
}

/* Cv styling */

#content div.content-item div.content-item-content {
	margin: 20px 0 30px 0;
}

#content blockquote {
	margin: 20px 40px;
	font-size: 13px;
	font-style: italic;
}

#content #references div.content-item {
	display: inline-block;
	margin-right: 20px;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media(max-width:767px) {

}
	
@media(min-width:768px){

}

@media(min-width:992px){

	/* Header styling */

	#navigation ul.nav {
		float: right;
	}

	#header {
		text-align: left;
	}

	/* Portfolio styling */

	.company-row.bloom .row-background div:first-child {
		border: none;
		border-right: 4px solid #ffe600;
	}

	.company-row.present-thinking .row-background div:first-child {
		border: none;
		border-right: 4px solid #bcb6a4; 
	}

	.company-row.decibel .row-background div:first-child {
		border: none;
		border-right: 4px solid #9e1f63; 
	}

	/* Cv styling */

	#content .date {
		text-align: right;
	}	

}
@media(min-width:1200px){

}

@media print {
	#navigation {
		display: none;
	}

	.no-print {
		display: none;
	}

	a[href]:after {
		content: none;
	}
	button {
		display: none;
	}
}



