body {
	background: #ffffff url('img/groovepaper.png') repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #666;
}

/* Headers */

h1 {
	font-family: "Roboto-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 48pt;
	margin: 50px auto 0 auto;
}

h2 {
	font-family: "Roboto-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18pt;
	color: #b3b3b3; 
	margin: 0 auto;
}

h3 {
	font-family: "Roboto-Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 24pt;
	margin: 50px 0px 0px 0px;
}

h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: #666;
}

/* Section Headers */

.client_logo {
	border-radius: 5px;
	margin-bottom: 30px;
}

#decibel_name {
	padding: 18px 0;
}

#pt_name {
	padding: 10px 0;
}

#content .date {
	text-align: right;
}

/* Navigation */

#navigation li {
	float: right;
	margin: 60px 0px 0px 20px;
	list-style-type: none;
	letter-spacing: .25em;
	text-align: center;
}

#navigation a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-weight: bold;
	padding: 10px;
	border-style: dashed;
	border-width: 2px;
	border-radius: 10px;
	border-color: #666;
}

#navigation a:hover {
	text-decoration: none;
	color: #666;
}

/* Gallery */

.description p, .description .project {
	padding: 0px 20px;
}

ul.gallery {
	position: relative;
	list-style: none;
	z-index: 1;
	padding-top: 30px;
	background: white;
	border-radius: 10px;
	border: 1px solid #efefef;
}

ul.gallery li {
	position: relative;
	float: left;
	height: 120px;
	padding: 0;
	border: 1px solid #efefef;
	margin: 0 30px 30px 0;
	background: #fff
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

ul.gallery li:before, ul.gallery li:after {
	content: '';
	z-index: -1;
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 70%;
	max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
	max-height: 100px;
	height: 55%;
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-webkit-transform: skew(-15deg) rotate(-6deg);
	-moz-transform: skew(-15deg) rotate(-6deg);
	-ms-transform: skew(-15deg) rotate(-6deg);
	-o-transform: skew(-15deg) rotate(-6deg);
	transform: skew(-15deg) rotate(-6deg);
}

ul.gallery li:after {
	left: auto;
	right: 10px;
	-webkit-transform: skew(15deg) rotate(6deg);
	-moz-transform: skew(15deg) rotate(6deg);
	-ms-transform: skew(15deg) rotate(6deg);
	-o-transform: skew(15deg) rotate(6deg);
	transform: skew(15deg) rotate(6deg); 
}

ul.gallery li p {
	text-align: center;
	width: 200px;
	word-wrap: break-word;
}

ul#web-design {
	min-height: 180px;
}

/* Fix for table padding from screen.css */
td {
	padding: 0;
}